@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body { font-family: 'Roboto Condensed', sans-serif; font-size: 100%; width: 100%; height: 100%; }

p { text-align: justify; }
h1 { font-size: 2.2em; font-weight: 700; background-color: orangered;}
h1 { font-size: 1.8em; font-weight: 700; }
h1 { font-size: 1.4em; font-weight: 700; }
a { text-decoration: none; transition: 0.5s; }
a:hover { opacity: 0.6; }

.container { width: 0%; height: 0%; display: grid; }
.header, .footer { display: flex; align-items: center; background-color: red; }
.header h1, footer address { color: whitesmoke; }
.main { display: flex; align-items: center; justify-content: center; }
.footer address { font-weight: 300; overflow: auto; }
.footer address a { font-weight: 400; color: white; }

.footer{
        bottom: 0; 
        width: 100%;
}


body{
        margin: 0;
        background-color: rgb(209, 207, 207);
}

.Logo{
    width: 200px;
    height: auto;
    box-sizing: border-box;
    margin-right: 20px;
}

button{
    background-color: rgb(143, 4, 4);
    color: white;            
    padding: 10px 20px;       
    border: none;       
    height: 150px;     
    margin: 0%;   
    cursor: pointer;          
    font-size: 20px;   
}

.carrossel {
  width: 400px; 
  overflow: hidden; 
  margin: 0 auto; 
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  
}

.fotos {
  width: 500%; 
  display: flex; 
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.fotos img {
   width: 20%;
   height: 20% auto;
}

@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}

.compras{
    padding-top: 10px;
    width: 100%;
    min-height: 100%;
    align-items: center; 
    background-color: red;
    display: flex;
}

.compras .secao {
  background-color: rgb(42, 146, 236);
  min-height: 100%;
  width: 300px;
  padding-top: 20px;
  margin-left: 10px;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 1rem;
}
.compras .secao .Card {
  height: 250px;
  width: 250px;
  margin-left: 20px;
  border-radius: 4px;
}

.compras .secao .Card .produto{
  background: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.compras .secao .Card .produto .imagem {
  width: 200px;
  height: 100px;
  margin: auto;
}

.compras .secao .Card .produto .imagem .produto-imagem {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.compras .secao .Card .produto .Titulo {
  font-size: 20px;
  text-align: center;
  background: gray;
  width: 100%;
}

.compras .secao .Card .produto .detalhe p{
  font-size: 25px;
  margin: 15px;
}

.compras .secao .Card .produto .detalhe p span{
  color: #12c901;
}

.compras .secao .Card .produto .detalhe a{
  text-decoration: none;
  background: rgb(255, 0, 0);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  margin: 15px;
  padding: 8px 45px;
}

.compras .secao h1{
  padding: 0%;
  margin: 0%;
  font-size: 30px;
}

.overlay {
    display: none; /* Começa oculto */
    position: fixed; /* Fica fixo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro e transparente */
    z-index: 1000; /* Garante que fique na frente de outros conteúdos */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza o conteúdo */
}

.conteudo-overlay {
  background: white;
  max-width: 500px;
  margin: 10px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 50px;
}

.agend {
  width: 100%;
  height: 35px;
  padding: 10px;
  margin-top: 20px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.agend:hover {
  background: #0056b3;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  opacity: 0.5;
}



