body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;          /* Centraliza verticalmente o conteúdo */
  justify-content: flex-start;  /* Alinha à esquerda */
  background-color: #ff0000;
  height: 150px;
  padding: 0 0px;
  font-size: 20px;
  color: white;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;   /* usa toda a altura do navbar */
  margin-right: 20px;
}

.logo img {
  width: 200px;
}

/* Menu */
/* Menu */
.menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

.menu a {
  flex: 1;                        /* mantém cada item no tamanho atual */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
   background-color: rgb(143, 4, 4); /* cor padrão */
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.menu a:hover {
  opacity: 0.6;
}


/* Container do formulário */
.container {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 50px;
}

.agend {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.agend:hover {
  background: #0056b3;
}

.footer { display: flex; align-items: center; background-color: red; }

.footer{
        bottom: 0; 
        width: 100%;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  opacity: 0.5;
}

.btn {
  background-color: rgb(143, 4, 4);
  color: white;
  padding: 10px 20px;
  border: none;
  height: 150px;
  margin: 0%;
  cursor: pointer;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

